@use "sass:math";

$xs: 167px;
$s: 207px;
$m: 344px;
$l: 521px;
$xl: 698px;
$mob: 414px;
$gap: 24px;


.wrp {
 text-align: left;
}
.input {
  input {
    box-shadow: 0 4px 8px rgba($color: #2c2738, $alpha: 0.04);
    width: 400px;
    text-align: left;
    height: 52px;
    border-radius: 6px;
    background-color: white;
    border: 0.5px solid #DBE2EA;
    padding: 0;
    margin-bottom: $gap;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 16px;
    color: black;
    outline: none;
    padding-right: 30px;
    :focus {
      border: 0.5px solid #bdbdbd;
    }
    :active {
      border: 0.5px solid #bdbdbd;
    }
    ::placeholder {
      color: red;
      font-size: 16px;
    }
  }

  p {
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 18px;
    color: #756F86;
    margin: 0;
    margin-bottom: math.div(24px, 4);
    //font-family: $font;
  }

  // span {
  //  // mask-image: url("../../images/x.svg");
  //   mask-repeat: no-repeat;
  //   mask-position: center;
  //   mask-size: contain;
  //   background-color: #bdbdbd;
  //   width: 14px;
  //   height: 14px;
  //   position: absolute;
  //   right: 15px;
  //   top: 15px;
  //   cursor: pointer;
  //   &.error {
  //     background-color: red;
  //   }
  // }

  div {
    position: relative;
  }

  .input_error {
    color: #FF7171;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 56px;
  }
}