@use "sass:math";

$xs: 167px;
$s: 207px;
$m: 344px;
$l: 521px;
$xl: 698px;
$mob: 414px;

.input {
  input {
    // width: 207px;
    height: 44px;
    border-radius: 8px;
    background-color: rgb(242, 242, 242, 0.4);
    border: 0.5px solid #bdbdbd;
    padding: 0;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 16px;
    color: black;
    outline: none;
    padding-right: 30px;
    &.error {
      border: 0.5px solid red;
    }
    :focus {
      border: 0.5px solid #bdbdbd;
    }
    :active {
      border: 0.5px solid #bdbdbd;
    }
    ::placeholder {
      color: grey;
    }
  }

  p {
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 18px;
    color: grey;
    margin: 0;
    margin-bottom: math.div(24px, 4);
    //font-family: $font;
  }

  span {
   // mask-image: url("../../images/x.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: #bdbdbd;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    &.error {
      background-color: red;
    }
  }

  div {
    position: relative;
    // width: 207px;
  }

  .input_error {
    color: red;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 48px;
  }

  //margin-right: $gap;
}

.xs {
  width: $xs;
}
.s {
  width: $s;
  @media screen and (max-width: $mob) {
    width: $m;
  }
}
.m {
  width: $m;
}
.l {
  width: $l;
}
.xl {
  width: $xl;
}

.input_padding3px {
  .input {
    padding: 3px 0;
  }
}

.input_padding6px {
  .input {
    padding: 6px 0;
  }
}

.input_padding12px {
  .input {
    padding: 12px 0;
  }
}

.big {
  width: 100%;
  div {
    height: 100%;
  }
  input {
    height: 44px;
    &::placeholder {
      display: flex;
      align-items: flex-start;
      white-space: normal;
    }
  }
}
