@use 'sass:math';
@import './src/styles/variables.scss';

.checkbox-field {
	width: 100%;
	display: flex;
	align-items: center;
	gap: $gap;
	padding-top: math.div($gap, 2);
	p {
		font-size: 14px;
		//color: $formPrompt;
		//font-family: $font;
	}
	&:first-child {
		display: flex;
		align-items: center;
		color: red;
	}
	a {
		color: $blue;
		text-decoration: none;
	}
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	width: 50px;
}

.checkbox + label {
	display: inline-flex;
	align-items: center;
	user-select: none;
	&::before {
		content: '';
		display: inline-block;
		width: 1em;
		height: 1em;
		flex-shrink: 0;
		flex-grow: 0;
		border: 1.5px solid #dbe2ea;
		border-radius: 3px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 50% 50%;
		width: 28px;
		height: 28px;
		cursor: pointer;
		box-shadow: 0 4px 8px rgba($color: #2c2738, $alpha: 0.04);
	}
	&.checked:before {
		background-image: url(../../images/checked.svg);
	}
}

.checkbox label:before {
	background-color: #000;
}
