@use "sass:math";

@import './../../styles/variables.scss';

$xs: 167px;
$s: 207px;
$m: 344px;
$l: 521px;
$xl: 698px;

.select {
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba($color: #2c2738, $alpha: 0.04);
  select {
    width: 100%;
    //position: relative;
    height: 52px;
    padding-left: 10px;
    color: grey;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    background-color: white;
    border: 0.5px solid #DBE2EA;
    border-radius: 8px;
    &:focus {
      border: 2px solid $blue;
    }
    option {
      height: 44px;
     &:hover {
      background-color: #EBF4F8;
     }
    }
    &.error {
      border: 0.5px solid red;
    }
  }
  option {
    height: 44px;
   &:hover {
    background-color: #EBF4F8;
   }
  }
 

  p {
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 18px;
    color: grey;
    margin: 0;
    margin-bottom: math.div(24px, 4);
  }

  span {
    //background-image: url("../../images/x.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 47px;
    position: absolute;
    right: 0;
    top: 0;
  }

  div {
    position: relative;
  }

}


.select_wrapper {
  position: relative;
  .select_error {
    color: red;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 48px;
  }
  .select_icon {
    mask-image: url(./../../images/icon__expand.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: $blue;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 15px;
    top: 15px;
    // &.error {
    //   background-color: $error;
    // }
  }
}
